body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.65;
  font-family: Inter, -apple-system, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body.darkMode{
  background-color: #252525;
  color: white;
}

.header {
  position: fixed;
  top:0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 2;
}
.header svg{
  margin: 1rem;
  cursor: pointer;
}


body.darkMode .header{
  background-color: black;
  color: white;
}

body.darkMode li{
  color: white;
}